{% extends "drink_app/base.html" %}

{% block content %}

    <div class="intro-sec">
        <div class="home-heading-div">
            <h1 class="heading1">Drink Bot</h1>
            {% if messages %}
                {% for message in messages %}               
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>       
                {% endfor %}
            {% endif %}
            <p class="paragraph1">Available Drinks</p>            
        </div>
    </div>
    
    <div class="drink_select_sec">
        <div class="drink_grid_wrapper">
            <div class="drinks_grid">
            
                {% for drink in drinks %}
                    <a data-toggle="modal" href="#Modal{{ forloop.counter0 }}" class="drink_block">
                        <div class="image_div" style="background:url('{{drink.thumbnail}}'); background-size: cover;background-position: 50% 20%;background-repeat: no-repeat;">
                        </div>
                        <div class="drink_text_div">
                            <h2 class="drink_name">{{ drink.name|title }}</h2>
                        </div>
                    </a>
                                      
                    <!-- Modal -->
                    <div class="modal fade" id="Modal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document" class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalCenterTitle"> {{ drink.name|title }} </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body"> 
                            <div class="d-flex justify-content-center">
                                <div class="modal_img rounded" style="background:url('{{drink.thumbnail}}'); background-size: contain;background-position: 50% 50%;background-repeat: no-repeat;">
                                </div>
                            </div>
                            <div class="modal_drink_descript d-flex flex-row justify-content-around">
                                <div>
                                    <h6> Ingredients </h6> 
                                    <ol>                                                          
                                        {% for ingr,sub in drink.get_ingrs_subs %}                                           
                                            <li> {{ ingr|title }} {% if sub != 'None' and sub != ingr %}({{sub|title}}) {% endif %}</li>                                            
                                        {% endfor %}
                                    </ol>
                                </div>
                                <div>
                                    <h6> Measurements </h6> 
                                    <ol>                                                          
                                        {% for meas in drink.get_meas %}                                            
                                            <li> {{ meas }} </li>                                            
                                        {% endfor %}
                                    </ol>  
                                </div>                         
                            </div>
                            <h6 class="ingr_heading"> Instructions </h6> 
                                <p style="text-align: center;"> {{ drink.instructions }} </p>
                          </div>
                          <div class="modal-footer d-flex flex-column justify-content-center">
                            <form class="d-flex flex-column justify-content-center" method="post">
                                {% csrf_token %}
                                {{ make_drink_form }} 
                                <input type="hidden" name="hidden_field" value="{{ drink.name }}">                         
                                <button type="submit" class="btn btn-primary make_drink_btn">Make Drink</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    
    
    
{% endblock content%}    







