.paragraph1 {
    text-align: center;
    margin-top: 40px;
    
}

.heading1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;

}

.body {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.drink_block {
    width: 275px;
    height: 300px;
    border-radius: 7px;
    box-shadow: 1px 1px 15px 0 #8d8d8d;
    text-decoration: none !important;
    transition: transform 0.3s ease-in-out;
    
}

.drink_block:hover {
    transform: scale(1.05);
}

/* image_div currently over-ridden by inline css */
.image_div {
    height: 66%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

}

.drink_text_div {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.drinks_grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));
  grid-auto-rows: 300px;
  grid-auto-flow: row dense;
  align-content: center;
  justify-content: center;
  width: 90vw;
  max-width: 1600px;
  
}

.drink_select_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    
}

.drink_name {
    text-align: center;
    color: #2c2b2b;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 24px;
}

h6 {
    font-weight: bold !important;

}

ol {
    counter-reset: list !important;
}

ol > li {
    list-style: none !important;
    position: relative !important;
}

ol > li:before {
    counter-increment: list !important;
    content: counter(list, lower-alpha) ") " !important;
    position: absolute !important;
    left: -1.4em !important;
}


