.paragraph1 {
    text-align: center;
    margin-top: 0px;
    
}

.heading1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;

}

.body {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.drink_block {
    width: 275px;
    height: 300px;
    border-radius: 7px;
    box-shadow: 1px 1px 15px 0 #8d8d8d;
    text-decoration: none !important;
    transition: transform 0.3s ease-in-out;    
}

.drink_block:hover {
    transform: scale(1.05);
}

/* image_div currently over-ridden by inline css */
.image_div {
    height: 66%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    

}

.modal_img {
    height: 300px;
    width: 300px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;

}

.drink_text_div {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    
}

.drinks_grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));
  grid-auto-rows: 300px;
  grid-auto-flow: row dense;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center !important;
  width: 90vw;
  max-width: 1600px;
}

.drink_select_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 40px;
    
}

.drink_grid_wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}

.drink_name {
    text-align: center;
    color: #2c2b2b;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 24px;
}

h6 {
    font-weight: bold !important;

}

ol {
    counter-reset: list !important;
}

ol > li {
    list-style: none !important;
    position: relative !important;
}

ol > li:before {
    counter-increment: list !important;
    content: counter(list, lower-alpha) ") " !important;
    position: absolute !important;
    left: -1.4em !important;
}

.modal_drink_descript {
    margin-top: 20px;

}

/*
button {
    
	padding: 0 !important;
	border-width: 0px !important;
	background-color: white !important;

}
button:focus,button:active {
   outline: none !important;
   background-color: white !important
   
}
*/

.ingr_heading {
    text-align: center;
}


.make_drink_btn {
    margin-top: 15px !important;
}

.alert-message {
    text-align: center;
}

.alert {
    max-width: 500px;
    margin-bottom: 10px;
}

.home-heading-div{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}   
    
.form-whole {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 10px;
}       
    
.form_grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 80px;
  grid-auto-flow: row dense;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center !important;
  width: 80vw;
  max-width: 700px;
}
   
.form-field {
    display: flex;
    align-content: center;
    justify-content: left;
    align-items: left;
    justify-items: center;
    flex-direction: column;
    margin-top: 0px;
}      

.form-row {
    display: flex;
    align-content: center;
    justify-content: left;
    align-items: left;
    justify-items: center;
    flex-direction: row;
}    


.marg-top {
    margin-top: 15px;
}

.marg-bot {
    margin-bottom: 15px;
}

.card {
    max-width: 700px;

}
/*
input[data-readonly] {
  pointer-events: none;
}
*/


.navbar-brand {
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
max-width: 200px;
font-size: 32px;
}




    
    